.modal {
    width: 300px;
}
.modal-content {
    width: 300px;
}
.list-group-item:hover{
    background-color: #BBDEFB;
}
#contact-area {
    text-align: center;
}   
#about-area {
    background-color: #F9F9F9;
}
.main-title {
    color: #444;
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;
}